.timeline-checkbox:checked,
.timeline-checkbox:not(:checked) {
  @include pxRem(left, -9999);
  position: absolute;
  & + label {
    @include pxRem(padding-left, 28);
    @include pxRem(line-height, 20);
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: map-get($color, grey);
    &:before {
      @include pxRem(top, -16);
      @include pxRem(width, 22);
      @include pxRem(height, 22);
      border-radius: 50%;
      content: "";
      position: absolute;
      left: 0;
      border: 1px solid map-get($color, border);
      background: map-get($color, white);
    }
    &:after {
      @include pxRem(width, 8);
      @include pxRem(height, 8);
      @include pxRem(top, -8);
      @include pxRem(left, 8);
      content: "";
      background: map-get($color, primary);
      border-radius: 50%;
      position: absolute;
      transition: all 0.2s ease;
    }
  }
}
.timeline-checkbox:not(:checked) {
  & + label:after {
    opacity: 0;
    transform: scale(0);
  }
}
.timeline-checkbox:checked {
  & + label:after {
    opacity: 1;
    transform: scale(1);
  }
}
