
.check-label {
  width: 100%;
  display: flex;
  .check-label-text {
    @include pxRem(margin-bottom, 20);
    @include pxRem(border-radius, 7);
    @include pxRem(padding, 15 15 15 55);
    cursor: pointer;
    width: 100%;
    box-shadow: 0 #{f-pxRem(1)} #{f-pxRem(6)} 0 map-get($color, border);
    background: map-get($color, white);
    overflow: hidden;
    transition: color 100ms;
    position: relative;
    transform: translateZ(0);
    backface-visibility: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: map-get($color, white-light);
      transform: scaleX(0);
      transform-origin: 50%;
      transition-property: transform;
      transition: 300ms ease-out;
    }
  }
  .check-label-box {
    @include pxRem(height, 25);
    @include pxRem(width, 25);
    @include pxRem(left, 15);
    @include pxRem(top, 15);
    cursor: pointer;
    position: absolute;
    z-index: 1;
    border: #{f-pxRem(1)} solid map-get($color, border);
    background: map-get($color, white);
    border-radius: 50%;
  }
}
.hidden-box:checked + .check-label {
  .check-label-box {
    background: map-get($color, primary);
    border-color: map-get($color, primary);
     &:after {
      @include pxRem(top, 3);
      @include pxRem(left, 7);
      @include pxRem(width, 6);
      @include pxRem(height, 12);
      content: '';
      position: absolute;
      border: solid map-get($color, white);
      border-width: 0 #{f-pxRem(2)} #{f-pxRem(2)} 0;
      transform: rotate(45deg);
    }
  }
  .check-label-text {
    text-decoration: line-through;
    &:before {
      transform: scaleX(1);
    }
  }
}
