.remove-item {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.to-do-list {
  padding: 0;
  max-height: 300px;
  overflow: scroll;
  .middle-over {
    width: 80%;
    display: inline-block;
    line-height: 30px;
  }
  .input-checkbox {
    margin-right: 6px;
  }
}
.todo-item {
  list-style: none;
  text-align: left;
  padding: 5px 0 5px 10px;
  &:hover {
    cursor: pointer;
    background: #ececec;
  }
}
.active {
  background: greenyellow;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.todo-input {
  width: 480px !important;
}
