.page-main {
  margin: 60px 0 120px;
  .todo-info {
    margin-bottom: 20px;
  }
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .todo-item-checkbox {
      width: 10%;
      input {
        width: auto;
      }
    }
    .todo-item-wrapper {
      width: 90%;
      border-radius: 16px;
      padding: 20px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .no-task {
    img {
      width: 50px;
    }
  }
}
