.header {
  @include pxRem(height, 115);
  background-color: map-get($color, primary);
  .header-top {
    @include pxRem(padding, 20 0);
    @include pxRem(font-size, 28);
    color: map-get($color, white);
  }
  .filter-list {
    @include pxRem(border-radius, 16);
    background-color: map-get($color, white);
  }
}
