.header {
  background-color: #ff8a87;
  height: 115px;
  .header-top {
    padding: 20px 0;
    font-size: 32px;
    color: white;
  }
  .filter-list {
    border-radius: 16px;
    background-color: white;
  }
}
